@charset "UTF-8";

@import "reset";
@import "common";

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.container {
	@at-root .wrap-background {
		width: 100%;
		height: 100%;
		.background__image {
			object-fit: cover;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	@at-root .wrap-content {
		position: absolute;
		width: 100%;
		height: 100%;

		.content-center {
			width: 100%;
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.content-center__weather {
			font-size: 32px;
			color: #ffffff;
			text-shadow: 2px 2px 0px rgb(125, 125, 125);
			margin-bottom: 30px;
		}

		.content-center__weather-city {
			font-size: 24px;
			text-align: center;
		}

		.content-center__weather-weather {
			margin-top: 20px;
			font-size: 36px;
			text-align: center;
		}

		.content-center__time {
			font-size: 128px;
			color: #ffffff;
			font-family: "M PLUS Rounded 1c", sans-serif;
			text-shadow: 5px 5px 0px rgb(60, 60, 60);
		}

		.content-center__login-form {
			margin-top: 30px;
			display: none;
			width: 500px;
			height: 60px;

			@at-root .wrap-content .content-center__login-form--show {
				display: block;
			}

			@at-root .wrap-content .content-center__login-input {
				width: 100%;
				height: 100%;
				background-color: transparent;
				border: none;
				color: #ffffff;
				font-size: 24px;
				text-align: center;
				padding: 10px;
				border-bottom: 2px solid #ffffff;

				&:focus {
					outline: none;
					border-bottom: 2px solid #7ccfff;
				}

				&::placeholder {
					color: #ffffff;
					transition: color 0.5s;
				}

				&:focus::placeholder {
					color: #bfe7ff;
				}

				&:focus + .content-center__login-text {
					opacity: 1;
				}
			}

			@at-root .wrap-content .content-center__login-text {
				margin-top: 20px;
				text-align: center;
				color: #ffffff;
				opacity: 0;
				transition: opacity 0.5s;
			}
		}

		.content-center__welcome {
			display: none;
			margin-top: 30px;
			font-size: 64px;
			color: #ffffff;
			text-shadow: 3px 3px 0px rgb(125, 125, 125);

			@at-root .wrap-content .content-center__welcome--show {
				display: flex;
			}

			@at-root .wrap-content .content-center__welcome-text {
				font-family: "CBNUJIKJI";
				text-transform: uppercase;
			}
		}
	}
}

.menu {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 20px;
	display: none;

	&.menu--show {
		display: block;
	}

	@at-root .menu-list {
		.menu-item {
			position: relative;
			width: 60px;
			height: 60px;
			background-color: #fff;
			color: #333;
			border-radius: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
			transition: background-color 0.5s ease-out, width 0.5s ease-out,
				height 0.5s ease-out;
			overflow: hidden;

			&.menu-item--on {
				width: 300px;
				height: 500px;
			}

			.menu-item__icon {
				cursor: pointer;
				position: absolute;
				right: 0;
				bottom: 0;
				.menu-item__icon-open,
				.menu-item__icon-close {
					display: none;
					width: 60px;
					height: 60px;
					justify-content: center;
					align-items: center;
					font-size: 24px;
				}

				.menu-item__icon-open--on,
				.menu-item__icon-close--on {
					display: flex;
				}
			}

			@at-root .menu-item__todo-list {
				position: absolute;
				width: 300px;
				bottom: 60px;
				right: 0;
				height: calc(500px - 60px);
				padding: 20px;
				box-sizing: border-box;
				overflow-y: auto;
				border-bottom: 1px solid #eee;
				&::-webkit-scrollbar {
					width: 10px;
				}
				&::-webkit-scrollbar-thumb {
					background-color: #2f3542;
					border-radius: 10px;
					background-clip: padding-box;
					border: 2px solid transparent;
				}
				&::-webkit-scrollbar-track {
					background-color: grey;
					border-radius: 10px;
					box-shadow: inset 0px 0px 5px white;
				}
				.todo-list__form {
					width: 100%;
					height: 50px;
					display: flex;
					justify-content: space-between;
					padding-bottom: 20px;
					border-bottom: 1px solid #ddd;

					input {
						flex-shrink: 1;
						width: 77%;
						border: 1px solid #ddd;
						border-radius: 10px;
						font-size: 12px;
						padding: 0 10px;

						&:focus {
							outline: none;
						}
					}

					button {
						width: 20%;
						flex-shrink: 0;
						padding: 0 15px;
						border: none;
						background-color: #49a9cb;
						border-radius: 10px;
						color: #fff;
					}
				}
				@at-root .todo-list__items {
					width: 100%;
					.todo-list__item {
						width: 100%;
						height: 40px;
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin: 20px 0 0;
						box-shadow: 0 0 6px 0 #ddd;
						border-radius: 10px;
						padding: 10px;
						&.todo-list__item--checked {
							background-color: #eeeeee;
							color: #999;
							.btn-checkbox {
								i {
									display: block;
								}
							}

							span {
								text-decoration: line-through;
							}
						}
						.btn-checkbox {
							width: 20px;
							height: 20px;
							border: 1px solid #ddd;
							// margin: 5px 5px 5px 0px;
							flex-shrink: 0;
							border-radius: 5px;
							cursor: pointer;
							display: flex;
							justify-content: center;
							align-items: center;

							&:hover {
								background-color: #eee;
							}

							i {
								display: none;
								font-size: 12px;
								color: #a95a5a;
							}
						}
						span {
							// padding: 0px 10px 0px 5px;
							font-size: 12px;
							width: 100%;
							padding: 1px 10px 0px;
						}
						.btn-delete {
							width: 20px;
							height: 20px;
							// margin: 5px 0px 5px 5px;
							border: none;
							background-color: transparent;
							cursor: pointer;
							flex-shrink: 0;
							i {
								color: #666;
							}

							&:hover {
								i {
									color: #a95a5a;
								}
							}
						}
					}
				}
			}
		}
	}
}
